# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
SpellForge/.vs
SpellForge/x64
SpellForge/Debug
SpellForge/Release
SpellForge/SpellForge/.vs
SpellForge/SpellForge/x64
SpellForge/SpellForge/Debug
SpellForge/SpellForge/Release