# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
SpellForge/x64/Debug/SpellForge.pdb
SpellForge/x64/Debug/SpellForge.ilk
SpellForge/x64/Debug/SpellForge.exp
SpellForge/SpellForge/x64/Debug/vc141.pdb
SpellForge/SpellForge/x64/Debug/vc141.idb
SpellForge/SpellForge/x64/Debug/SpellForge.tlog/link.write.1.tlog
SpellForge/SpellForge/x64/Debug/SpellForge.tlog/link.read.1.tlog
SpellForge/SpellForge/x64/Debug/SpellForge.tlog/link.command.1.tlog
SpellForge/SpellForge/x64/Debug/SpellForge.tlog/SpellForge.write.1u.tlog
SpellForge/SpellForge/x64/Debug/SpellForge.tlog/Minigin.lastbuildstate
SpellForge/SpellForge/x64/Debug/SpellForge.tlog/CL.write.1.tlog
SpellForge/SpellForge/x64/Debug/SpellForge.tlog/CL.read.1.tlog
SpellForge/SpellForge/x64/Debug/SpellForge.tlog/CL.command.1.tlog
SpellForge/SpellForge/x64/Debug/SpellForge.log
SpellForge/.vs/SpellForge/v15/ipch/d16ab9066f58b23b.ipch
SpellForge/.vs/SpellForge/v15/Browse.VC.opendb
SpellForge/.vs/SpellForge/v15/Browse.VC.db
SpellForge/.vs/SpellForge/v15/.suo
SpellForge/SpellForge/x64/Debug/SpellForge.Build.CppClean.log
